/* VARIABLES TEMAS */

:root {
  --colorBlanco: #ffffff;
  --chakra: "Chakra Petch", sans-serif;
  --bold: 700;
  --regular: 400;
  --gradienteDay: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  --gradienteNight: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  --colorFondoDay: #fff4fd;
  --colorFondoNight: #110038;
  /* VARIABLES TEMAS */
  --colorFondoRecuadroBuscadorDay: #e6e6e6;
  --colorFondoRecuadroBuscadorNight: #b4b4b4;
  --boxShadowRecuadroBuscadorDay: inset -2px -2px 0 0 #b4b4b4,
    inset 2px 2px 0 0 #ffffff;
  --boxShadowRecuadroBuscadorNight: inset -2px -2px 0 0 #b4b4b4,
    inset 2px 2px 0 0 #ffffff;
  --colorLetraBuscarLupaDay: #b4b4b4;
  --colorLetraBuscarLupaNight: grey;
  /* VARIABLES TEMAS */
  --colorFondoBotonesNavegadorDay: #f7c9f3;
  --colorFondoBotonesNavegadorNight: #ee3efe;
  --boxShadowBotonesNavegadorDay: inset -1px -1px 0 0 #997d97,
    inset 1px 1px 0 0 #ffffff;
  --boxShadowBotonesNavegadorNight: inset -1px -1px 0 0 #a72cb3,
    inset 1px 1px 0 0 #ffffff;
  /* VARIABLES TEMAS */
  --colorLetraBotonMisgifosDay: #110038;
  --colorLetraBotonMisgifosNight: #ffffff;
  /* VARIABLES TEMAS */
  --colorFondoVermasDay: #4180f6;
  --colorFondoVermasNight: #2e32fb; /*ESTA VARIABLE APLICA PARA ACTIVE DE ELEIR TEMA NIGHT TAMBIEN */
  --boxShadowVermasDay: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  --boxShadowVermasNight: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
  /* VARIABLES TEMAS */

  --colorFondoBotonActiveDay: #fff4fd;
  --colorFondoBotonInactiveDay: #f0f0f0;

  --colorFondoRecuadroDropdownElegirDay: #e6e6e6;
  --boxShadowFondoRecuadroDropdownElegirDay: inset -2px -2px 0 0 #b4b4b4,
    inset 2px 2px 0 0 #ffffff;

  --borderBotonActiveDay: 1px solid #cca6c9;
  --borderBotonInactiveDay: 1px solid #808080; /*NO HACE FALTA AGREGAR A JAVASCRIPT */

  --boxShadowBotonActiveDay: inset -1px -1px 0 0 #e6dce4,
    inset 1px 1px 0 0 #ffffff;
  --boxShadowBotonInactiveDay: inset -1px -1px 0 0 #b4b4b4,
    inset 1px 1px 0 0 #ffffff; /*NO HACE FALTA AGREGAR A JAVASCRIPT */

  --colorLetraSailorNightActiveDay: #110038;

  /* VARIABLES TEMAS */
  --colorFondoBotonActiveNight: #2e32fb;
  --colorFondoBotonInactiveDay: #cccccc;

  --colorFondoRecuadroDropdownElegirNight: #b4b4b4;
  --boxShadowFondoRecuadroDropdownElegirNight: inset -2px -2px 0 0 #8f8f8f,
    inset 2px 2px 0 0 #ffffff;

  --borderBotonActiveNight: 1px solid rgba(51, 53, 143, 0.2);
  --boxShadowBotonActiveNight: inset -1px -1px 0 0 #e6dce4,
    inset 1px 1px 0 0 #ffffff;

  --colorLetraSailorNightActiveNight: #ffffff;
  /* VARIABLES TEMAS */
  --colorFondoHoverBotonNavegadorDay: #e6bbe2;
  --colorFondoHoverBotonNavegadorNight: #ce36db;

  --colorLetraTextoForm: #b4b4b4;
}

/* VARIABLES TEMAS */

.contGeneral {
  background-color: var(--colorFondoNight);
}

/* RECUADRO AZUL DE ARRIBA */

.recuadroAzulSuperior {
  color: var(--colorBlanco);
  background-image: var(--gradienteNight);
}

/* RECUADRO AZUL DE ARRIBA */

/* BOTON CREAR */

.botonCrear {
  background-color: var(--colorFondoBotonesNavegadorNight);
  box-shadow: var(--boxShadowBotonesNavegadorNight);
  color: var(--colorLetraBotonMisgifosNight);
}

.botonCrear:hover {
  background-color: var(--colorFondoHoverBotonNavegadorNight);
}

.botonCrearHover a:visited {
  color: #ffffff;
}

/* BOTON CREAR */

/* DROPDOWN ELEGIR TEMA */

.botonElegir {
  background-color: var(--colorFondoBotonesNavegadorNight);
  box-shadow: var(--boxShadowBotonesNavegadorNight);
}

.botonElegir:hover {
  background-color: var(--colorFondoHoverBotonNavegadorNight);
}

.elegirTema {
  color: var(--colorLetraBotonMisgifosNight);
}

.recuadroFlecha {
  color: var(--colorLetraBotonMisgifosNight);
}

.dropdownEstilo {
  background-color: var(--colorFondoRecuadroDropdownElegirNight);
  box-shadow: var(--boxShadowFondoRecuadroDropdownElegirNight);
}

.textoElegirTema {
  background: var(--colorFondoBotonActiveNight);
  border: var(--borderBotonActiveNight);
  box-shadow: var(--boxShadowBotonActiveNight);
  color: var(--colorLetraSailorNightActiveNight);
}

.textoElegirTemaActive {
  background: #cccccc;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}

/* DROPDOWN ELEGIR TEMA */

/* BOTON MIS GIFOS */

.botonMisGifosNoActive {
  color: #ffffff;
}

.botonMisGifosNoActive:visited {
  color: #ffffff;
}

.botonMisgifos {
  color: #ffffff;
}

.botonMisgifosActive:visited {
  color: rgb(197, 197, 197);
}

.botonMisGifosActive {
  color: rgb(197, 197, 197);
}

.botonMisgifos:hover,
.botonMisgifosNight:hover {
  border: 1px solid var(--colorLetraBotonMisgifosNight);
}

/* BOTON MIS GIFOS */

/* BUSCADOR */

.buscarRecuadroSuperior {
  background-image: var(--gradienteNight);
}

.buscadorRecuadro {
  background: var(--colorFondoRecuadroBuscadorNight);
  box-shadow: var(--boxShadowRecuadroBuscadorNight);
}

.recuadroFlechaNight {
  color: var(--colorLetraBotonMisgifosNight);
}

.formularioTexto {
  color: var(--colorLetraTextoForm);
}

.contBuscarLupa {
  background: var(--colorFondoRecuadroBuscadorNight);
}

.buscarLupaBoton {
  background: var(--colorFondoRecuadroBuscadorNight);
}

.buscarLupaBotonActive {
  background: var(--colorFondoBotonesNavegadorNight);
}

.colorLetraBuscarLupa {
  color: var(--colorLetraBuscarLupaNight);
}

/* BUSCADOR */

/* DROPDOWN BUSCADOR */

.dropdownOpcionesEstilo {
  background-color: var(--colorFondoRecuadroBuscadorNight);
}

.recuadroResultado {
  background: var(--colorFondoVermasNight);
}

/* TERMINA DROPDOWN BUSCADOR */

/* ABRE IMAGENES SUGERIDAS */

.recuadroSuperiorImagen {
  background-image: var(--gradienteNight);
}

.verMasSobreImagen {
  background: var(--colorFondoVermasNight);

  box-shadow: var(--boxShadowVermasNight);
}

/* CIERRA IMAGENES SUGERIDAS */

/* HOVER A GIFO BORDE */

.divBackground:hover {
  outline: 4px solid #ffffff;
  outline-offset: -4px;
}
